.App {
  text-align: center;
  padding: 10%;
  background-color: #EFEFEF;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.App h2 {
  text-align: left;
}
.App ul {
  padding: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.items-list {
  width: 50%;
  padding: 2%;
  background-color: white;
}
.spacer {
  height: 10px;
}
.subtitle {
  text-align: center;
}
.select {
  background-color: white;
  padding: 5% 20%;
  border-radius: 2px;
}
.movie-card {
  padding: 2% 0%;
  margin: auto;
}
.list-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0px;
}

.movies-list {
  background-color: white;
  width: 40%;
}
